{% extends "main.html" %}

{% block content %}
<div class="header-bar">
  <h1>Reset</h1>
  <style>
   

  </style>
</div>


<div class="card-body"></div>
  <form method="post" action="{% url 'reset password' %}">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>   <label>Insert email:</label> {{ form.email }}</p>
      <input style="margin-top:10px ;" class="button" type="submit" value="Reset password">
  </form>
  <p>Suddenly remembered ? :0 <a href="{% url 'login' %}">Login</a></p>

</div>


{% endblock content %}
