{% extends "base.html" %}


{% load static %}

{% block title %}Meine Gruppen{% endblock %}

{% block main%}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3"> 
        <div class="panel panel-default">
            <div class="panel-heading" style="display: flex; justify-content: space-between; align-items: center;"> 
            <!--angepasst-->
              <div class="panel-title">
                <h2>My Groups</h2>
              </div>
              <a href="{% url 'create_group'%}" class="btn btn-default btn" style="align-self: flex-start;">Create new Group</a>
            <!--angepasst ende-->  
            </div>
              <ul class="list-group">
                  {% for group in groups %}
                  <div class="list-group-item">
                    <h3>
                      <img src="{% static 'img/group.jpg' %}" alt="User Icon" width="40" height="40">
                      <a href="{% url 'group_detail' group.id %}" style="text-decoration: none;">{{ group.name }}</a><!--angepasst-->
                    </h3>
                  </div>
                  {% endfor %}
                </ul>
          </div>
    </div>
</div>
{% endblock %}