{% extends 'cal/base.html' %}

{% block content %}

<div class="clearfix">
    <a class="btn btn-info" id="left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
    <form action="{% url 'cal:calendar' %}" method="GET" id="calendar-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Home</button>
    </form>
    <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
</div>

<div class="theme-switch-wrapper">
    <a class="btn btn-info" id="add-event" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-plus"> New Event</i>
    </a>
    <div id="droppable">
        <i class="far fa-trash-alt fa-3x"></i>
    </div>
    <form action="{% url 'cal:yearly_view' %}" method="GET">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Yearly View</button>
    </form>
  
</div>

<div class="wrapper">
    <div class="left-col">
        <div class="header-bar">
            <div>
                <h1>Hello {{request.user|title}}</h1>
                <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>
            </div>


        </div>

        <div id="search-add-wrapper">
            <form method="GET" style="display: flex;">
                <input type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
                <input class="button" type="submit" value='Search'>
            </form>
            {% if tasks|length > 0 %}
            <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
            {% endif %}
        </div>

        <!-- Hidden form. Form submits new item positions -->
        <form style="display: none;" id="reorderForm" method="post" action="{% url 'task-reorder' %}">
            {% csrf_token %}
            <input type="hidden" id="positionInput" name="position">
        </form>

        <div id="tasklist" class="task-items-wrapper">
            {% for task in tasks %}
            <div class="task-wrapper" data-position="{{task.pk}}">
                <div class="task-title">
                    {% if task.complete %}
                    <div class="task-complete-icon"></div>
                    <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> {% else %}
                    <div class="task-incomplete-icon"></div>
                    <a href="{% url 'task-update' task.id %}">{{task}}</a> {% endif %}
                </div>
                <div class="task-controls">
                    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                    <span class="handle">&nbsp;&#10247;</span>
                </div>
            </div>
            {% empty %}
            <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
                <h3>No new tasks are created.</h3>
                <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="right-col">
        {{ calendar }}
    </div>
</div>

<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',
    });

    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering;
</script>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'cal:event_new' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title: </label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description: </label>
                        <textarea name="description" cols="5" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="start_time">Start Time: </label>
                        <input type="datetime-local" class="form-control" name="start_time">
                    </div>
                    <div class="form-group">
                        <label for="end_time">End Time: </label>
                        <input type="datetime-local" class="form-control" name="end_time">
                    </div>
                    <div class="form-group">
                        <p>Choose a color category for this event: </p>
                        <div class="color-picker" data-color="#5549A3" style="background: #5549A3;"></div>
                        <div class="color-picker" data-color="#6d6c6c" style="background: #6d6c6c;"></div>
                        <div class="color-picker" data-color="#2323a0" style="background: #2323a0;"></div>
                        <div class="color-picker" data-color="#940D23" style="background: #940D23;"></div>
                        <div class="color-picker" data-color="#10750c" style="background: #10750c;"></div>
                        <input type="hidden" name="bg_color" id="bg_color" value="">
                    </div>
            </div>
            <button type="submit" class="btn btn-info right"> Submit </button>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}