{% extends 'cal/base.html' %}
{% load static %}

{% block content %}

<div class="theme-switch-wrapper" id="yearly_view_top">
    <form action="{% url 'calendar' %}" method="GET"><!--angepasst-->
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Back To {{today | date:'M Y'}}</button>
    </form>
</div>
<form action="/change_view/" method="POST" id="yearly_view_form">
    {% csrf_token %}

    <div class="form-group" id="dropdown">
        <p>Select Year: </p>
        <select class="form-control" name="year">
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024" selected>2024</option>
            <option value="2025">2025</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" id="go">Go</button>


    <input type="hidden" name="month" id="selected_month" value="1">

    <p>Select Month: </p>
    <div class="month-specs" onclick="setSelectedMonth(1)">
        <p class="centered">January</p>
        <img class="monthly-pics" src="{% static 'img/jan_light.jpg' %}" alt="January">
    </div>
    <div class="month-specs" onclick="setSelectedMonth(2)">
        <p class="centered">February</p>
        <img class="monthly-pics" src="{% static 'img/feb_light.jpg' %}" alt="February">
    </div>
    <div class="month-specs" onclick="setSelectedMonth(3)">
        <p class="centered">March</p>
        <img class="monthly-pics" src="{% static 'img/march_light.jpg' %}" alt="March">
    </div>
    <div class="month-specs" onclick="setSelectedMonth(4)">
        <p class="centered">April</p>
        <img class="monthly-pics" src="{% static 'img/april_light.jpg' %}" alt="April">
    </div>
        <div class="month-specs"onclick="setSelectedMonth(5)">
        <p class="centered">May</p>
        <img class="monthly-pics" src="{% static 'img/may_light.jpg' %}" alt="May">
    </div>
    <div class="month-specs"onclick="setSelectedMonth(6)">
        <p class="centered">June</p>
        <img class="monthly-pics" src="{% static 'img/june_light.jpg' %}" alt="June">
    </div>
    <div class="month-specs"onclick="setSelectedMonth(7)">
        <p class="centered">July</p>
        <img class="monthly-pics" src="{% static 'img/july_light.jpg' %}" alt="July">
    </div>
    <div class="month-specs"onclick="setSelectedMonth(8)">
        <p class="centered">August</p>
        <img class="monthly-pics" src="{% static 'img/aug_light.jpg' %}" alt="August">
    </div>
        <div class="month-specs"onclick="setSelectedMonth(9)">
        <p class="centered">September</p>
        <img class="monthly-pics" src="{% static 'img/sep_light.jpg' %}" alt="September">
    </div>
    <div class="month-specs"onclick="setSelectedMonth(10)">
        <p class="centered">October</p>
        <img class="monthly-pics" src="{% static 'img/oct_light.jpg' %}" alt="October">

    </div>
    <div class="month-specs"onclick="setSelectedMonth(11)">
        <p class="centered">November</p>
        <img class="monthly-pics" src="{% static 'img/nov_light.jpg' %}" alt="November">

    </div>
    <div class="month-specs"onclick="setSelectedMonth(12)">
        <p class="centered">December</p>
        <img class="monthly-pics" src="{% static 'img/dec_light.jpg' %}" alt="December">

    </div>

    <input type="hidden" name="month" value="1" id="yearly_view_month">

</form>

<script>
    function setSelectedMonth(month) {
        document.getElementById('selected_month').value = month;
        document.getElementById('yearly_view_form').submit();
        var url = "/?month=" + month;
        window.location.href = url;
    }
</script>

{% endblock %}